@use 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	background-color: colors.$bg-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;

	background-color: colors.$maincolor;
}

nav {
	width: 100%;
	text-transform: uppercase;
	z-index: 1;
	transition: background-color 0.5s;

	.nav-link {
		color: colors.$white-color;
	}

	.nav-link:hover {
		color: colors.$maincolor;
	}

	.fa-bars {
		color: colors.$white-color;
		padding: 10px;
	}

	.navbar-brand {
		color: colors.$white-color;
		font-weight: bold;
	}

	.navbar-brand:hover {
		color: colors.$maincolor;
	}

	span {
		color: colors.$maincolor;
	}
}

.hero-img {
	position: relative;
	height: 100vh;
	background: url('/img/PlayStation_Small.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
}
.hero-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -10;
}
.hero-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	color: colors.$white-color;
	z-index: 5;

	h1 {
		display: inline-block;
		font-size: 1.8rem;
		padding: 1em;
	}
	p {
		font-size: 0.8rem;
	}
}

.btn-outline-light {
	text-transform: uppercase;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.fa-chevron-down {
	position: absolute;
	font-size: 3rem;
	bottom: 1em;
	color: colors.$white-color;
	left: 50%;
	transform: translateX(-50%);
	
}

.blue-text {
	display: inline;
	color: colors.$maincolor;
}

.aboutus {
	i {
		margin-top: 1.25em;
		font-size: 1.8rem;
	}
}

.about-us-card-title {
	font-size: 1.2rem;
	text-transform: uppercase;
}
.about-us-card-text {
	font-size: 0.9rem;
}
.aboutus-hover {
	transition: color 0.3s;
}

.aboutus-hover:hover {
	color: colors.$maincolor;
}

.aboutus-hero {
	position: relative;
	background-image: url('/img/technology_small.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;

	.aboutus-hero-card-title,
	.aboutus-hero-card-text,
	i,
	h2 {
		color: colors.$white-color;
		margin-bottom: 10px;
	}
	.aboutus-hero-card-title {
		margin-top: 3.8em;
	}
	i {
		font-size: 1.9rem;
		padding-top: 1em;
	}

	.fa {
		height: 0%;
	}

	h2 {
		padding-top: 1em;
	}
}

.portfolio {
	.carousel-item {
		position: relative;
		height: 600px;

		.image {
			width: 100%;
		}
		.carousel-caption {
			position: absolute;
			width: 100%;
			display: flex;
			left: 50%;
			padding: 3em 0;
			bottom: 10px;
			transform: translateX(-50%);
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
	.carousel-indicators {
		padding-bottom: 1.1em;
	}
}

.card {
	text-align: center;
	margin: 15px;
}

.prices {
	.prices-cards {
		padding-left: 3em;
	}
	.price-title {
		padding-top: 1em;
		text-transform: uppercase;
		color: colors.$maincolor;
	}

	span {
		font-weight: bold;
	}
	i {
		font-size: 1.4rem;
		margin: 0.3em;
	}
	.final-price {
		margin-top: 0.5em;
		font-weight: bold;
		font-size: 2rem;
	}

	.price-card {
		margin-right: 3em;
		margin-bottom: 3em;
		background-color: colors.$white-color;
		text-align: center;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: transform 0.3s;
	}

	.price-card:hover {
		transform: scale(1.1);
	}

	li {
		padding: 10px;
		list-style: none;
	}

	.order-btn {
		margin-top: 2em;
		margin-bottom: 2em;
		padding: 10px;
		border: none;
		border-radius: 5px;
		color: colors.$white-color;
		background-color: grey;
		text-align: center;
		cursor: pointer;
	}
	.active {
		background-color: colors.$maincolor;
	}

	.price-info {
		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url('/img/conference_room_small.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	z-index: 0;

	.team-shadow {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}

	h2 {
		color: colors.$white-color;
	}
	.card {
		transition: transform 0.3s;
		i {
			padding: 0.6em;
		}
	}
	.card:hover {
		transform: scale(0.9);
	}

	.card-img-top {
		height: 300px;
		object-fit: cover;
	}
	.card-body {
		height: 10em;
	}

	.card-title {
		text-transform: uppercase;
	}
}

.achievments-box {
	i {
		padding: 1em;
		font-size: 3rem;
		color: colors.$white-color;
		text-shadow: 0 0 5px #333;
	}
	.achievment {
		padding: 2em 0;
	}

	.achievment-number {
		font-size: 2rem;
	}
	.achievment-text {
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}

.contact {
	position: relative;
	background-image: url('/img/town_small.jpg');
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	color: colors.$white-color;

	z-index: 0;

	.underline {
		background-color: colors.$white-color;
	}

	.contact-item {
		margin-bottom: 2em;
		h3 {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.social-media {
			font-size: 2.2rem;
			a {
				padding: 1em;
				color: colors.$white-color;
			}
			a:hover{
				color:colors.$bg-color
			}
		}
	}

	.contact-us {
		display: flex;
		align-items: center;
	}
}

.contact-shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(2, 11, 30, 0.8);
	z-index: -1;
}

@media (min-width: 320px) {
	.team {
		.card-img-top {
			height: 200px;
		}
	}
}

@media (min-width: 375px) {
	.hero-title {
		h1 {
			font-size: 2.25rem;
		}
		p {
			font-size: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.aboutus-hero {
		align-items: center;
		text-align: center;
	}
	.navbar-brand {
		font-size: 1rem;
	}

	.fa-bars {
		font-size: 1.1rem;
	}

	.hero-title {
		h1 {
			font-size: 3.5rem;
		}
		p {
			font-size: 1rem;
			margin-bottom: 1.3em;
		}
	}
	.btn-outline-light {
		font-size: 1.5rem;
	}
}

@media (min-width: 992px) {
	.navbar-brand {
		font-size: 1rem;
	}

	.fa-bars {
		font-size: 2rem;
	}

	.hero-title {
		h1 {
			font-size: 3.5rem;
		}
		p {
			font-size: 1rem;
			margin-bottom: 1.3em;
		}
	}
	.btn-outline-light {
		font-size: 1.5rem;
	}
	nav {
		height: 82px;
	}
	.aboutus-hero-hero {
		background-image: url('/img/technology_big.jpg');
	}

	.prices {
		p {
			font-size: 1.2rem;
		}
	}
	.team {
		background-image: url('/img/conference_room_big.jpg');
	}
}
.contact {
	background-image: url('/img/town_big.jpg');

	@media (min-width: 1200px) {
		.hero-img {
			background-image: url('/img/Playstation_Big.jpg');
		}
	}
}
